* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  background-color: #222;
}

.btn {
  font-size: 20px;
  padding: 2px 10px;
  border: 0;
  cursor: pointer;
}

.btn:active {
  opacity: 0.8;
}

header {
  width: 100%;
  color: white;
  height: 40%;
  text-align: center;
  padding: 40px;
  position: relative;
  border-bottom: 5px solid white;
}

.again {
  background-color: white;
  position: absolute;
  top: 10px;
  left: 20px;
}

.between {
  position: absolute;
  top: 10px;
  right: 20px;
}

h1 {
  margin: 20px 0;
  font-weight: bold;
}

.number {
  position: absolute;
  left: 43%;
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 44px;
  font-weight: bold;
  color: black;
  background-color: white;
}

main {
  width: 100%;
  padding: 50px 40px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 70px;
}

section {
  width: 50%;
  margin-top: 70px;
}

.left {
  width: 130px;
}

.guess {
  width: 130px;
  text-align: center;
  padding: 0px 0;
  font-size: 44px;
  display: block;
}

.check {
  margin: 20px 20px;
}

.right {
  text-align: center;
  color: white;
  font-size: 20px;
}

.message {
  margin-bottom: 20px;
}
